<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new product</title>
</head>
<body>
<h1>Create new product</h1>
<a href="/product/list">Back to list</a>
<form th:action="@{/product/create}" method="post" th:object="${product}">
    <table border="1">
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{id}" /></td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td><input type="text" th:field="*{product_name}" /></td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td><input type="text" th:field="*{product_price}" /></td>
        </tr>
        <tr>
            <td>Product Describe</td>
            <td><input type="text" th:field="*{product_describe}" /></td>
        </tr>
        <tr>
            <td>Producer</td>
            <td><input type="text" th:field="*{producer}" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>