<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<body>
<h3>Delete product</h3>
<a th:href="@{/product/list}">Back to list</a>
<form th:action="@{/product/delete}" th:object="${product}" method="POST">
    <table border="1">
        <tr>
            <td>ID</td>
            <td th:text="*{id}" th:name="id"></td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td th:text="*{product_name}"></td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td th:text="*{product_price}"></td>
        </tr>
        <tr>
            <td>Product Describe</td>
            <td th:text="*{product_describe}"></td>
        </tr>
        <tr>
            <td>Producer</td>
            <td th:text="*{producer}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>