<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update product</title>
</head>
<body>
<h3>Edit product</h3>
<form th:action="@{/product/update}" method="post" th:object="${product}">
    <table border="1">
        <tr>
            <td><input type="hidden" th:field="*{id}" th:name="id"/></td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td><input type="text" th:field="*{product_name}"/></td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td><input type="text" th:field="*{product_price}"/></td>
        </tr>
        <tr>
            <td>Product Describe</td>
            <td><input type="text" th:field="*{product_describe}"/></td>
        </tr>
        <tr>
            <td>Producer</td>
            <td><input type="text" th:field="*{producer}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
</form>

</body>
</html>