<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Searching by product name</h3>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Describe</th>
        <th>Producer</th>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <tr th:each="product : ${products}" th:object="${product}">
        <td th:text="*{id}"></td>
        <td th:text="*{product_name}"></td>
        <td th:text="*{product_price}"></td>
        <td th:text="*{product_describe}"></td>
        <td th:text="*{producer}"></td>
        <td><a th:href="@{/product/view/(id=*{id})}">View</a></td>
        <td><a th:href="@{/product/update/(id=*{id})}">Edit</a></td>
        <td><a th:href="@{/product/delete/(id=*{id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>