<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete the song</title>
</head>
<body>
<h2>Delete the song</h2>
<a th:href="@{/song/list}">Back to list</a>
<form th:action="@{/song/delete}" method="post" th:object="${song}">
    <p>ID</p>
    <input type="hidden" th:field="*{id}"></td>
    <p>Name</p>
    <input type="text" th:field="*{name}">
    <p>Singer</p>
    <input type="text" th:field="*{singer}">
    <p>Type</p>
    <input type="text" th:field="*{type}">
    <p>Path</p>
    <input type="text" th:field="*{path}">
    <br>
    <br>
    <input type="submit" value="Delete">
</form>
</body>
</html>