<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update the song</title>
</head>
<body>
<h2>Update the song</h2>
<a th:href="@{/song/list}">Back to list</a>
<form th:action="@{/song/update}" method="post" th:object="${song}">
    <table border="1">
        <tr>
            <td>
                <input type="hidden" th:field="*{id}" th:name="id">
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Singer</td>
            <td><input type="text" th:field="*{singer}"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><input type="text" th:field="*{type}"></td>
        </tr>
        <tr>
            <td>Path</td>
            <td><input type="text" th:field="*{path}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>